.MusicMain {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    margin-left: 20vw;
}

.back {
    background-color: black;
    height: 90vh;
}