.Album {
    background-color: black;
    height: 90vh;
    overflow: scroll;
    width: 80vw;
    color: white;
    margin-left: 20vw;
}

.nlink:hover {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.my-modal .modal-content {
    background-color: purple;
    color: white;
}


.loading {
    background-color: black;
    height: 90vh;
    color: white;
    margin-left: 20vw;
    text-align: center;
    padding-top: 40vh;
    font-size: 25px;
}

