.Sidebar {
    position: fixed;
    left: 0;
    height: 90vh;
    background-color: rgb(21, 21, 21);
    width: 20vw;
    border-right: 3px solid rgb(114, 23, 167);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}



.menuTitle {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20;
    color: rgb(193, 14, 109);
    
}

.headphones {
    background: linear-gradient( blueviolet, deeppink, yellow);border-radius: 25px;
    padding: 10px;
    
    
}




