.Sidebar {
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    width: 20vw;
    border-right: 3px solid fuchsia;
    
}



.menuTitle {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2.35vw;
    
}

.navlink {
    text-decoration: none;
    color: purple;
}

.menuItem {
    margin-top: 3vw;
    text-align: center;
    font-size: 2.35vw;
}

.navlink:hover{
    color: white;
}

.active {
    text-decoration: underline;
}

.inactive {
    text-decoration: none;
}